* {
    box-sizing: border-box;
    font-family: 'overlock', cursive;
}

body{
    background-image:url("https://cdn.pixabay.com/photo/2015/06/30/18/36/st-826688_1280.jpg") ;
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    background-color: rgb(13, 14, 13);
}

.header {
    background-color: rgba(28, 28, 28, 0.3);
    border: 2px solid whitesmoke;
    color: whitesmoke;
    margin: 3rem auto 0 auto;
    padding: 2rem;
    width: 95%;
    font-size: 1.125rem;
display: flex;
justify-content: space-between;

}

.header-brand-link{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.875rem;
    font-weight: 900;
}

.header-menu{

    align-self: center;
}

.header-menu-link{
    color: whitesmoke;
    text-decoration: none;
    padding: 0.25rem;
}

.header-menu-link:hover{
    color: darksalmon;
    border-bottom: 2px solid darksalmon;
    background-color: rgba(28, 28, 28, 0.65);
}

.main {
    min-height: calc(100vh - 8.625rem);
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}

.main-box{
    border-right: 2px solid whitesmoke;
    background-color: rgba(186, 109, 109, 0.5);
    padding: 0 1rem;
    width: 50%;
    align-self: center;

}

.main-titulo{
    font-size: 2.5rem;
    font-weight: 900;
    color: lightsalmon;
}

.index-main-frase{
    color:whitesmoke;
    font-size: 1.5rem;
    font-style: italic;

}
.link-cardapio {
        color: black;
        font-size: 1.5rem;
        font-weight: 700;
        background-color: darksalmon;
        text-decoration: none;
        padding: 0.75rem;
        border-radius: 0.625rem;
        position:fixed;
        left: 40%;
        right: 40%;
        bottom: 2rem;
        text-align: center;
}

.link-cardapio:hover {
    background-color: salmon;
    color: whitesmoke;
}

